[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
pytest = "*"
ipython = "*"
ipdb = "*"
isort = "*"
flake8 = "*"
pre-commit = "*"

[packages]
python-telegram-bot = "*"

[requires]
python_version = "3.7"
